.parent-nav-link-padding {
  padding: 15px 20px !important;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  height: 4.625rem;
}

.site-navbar {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
  background: transparent;
  transition: all .6s ease;
  height: 4.625rem;

  .container {
    height: 4.625rem;
  }

  .navbar-brand {
    width: 130px;
    text-indent: 10000px;
    height: 4.625rem;
    background: url('./images/logotipo_ER.svg') no-repeat 0 50%;
    background-size: 130px;
  }

  .nav-item {
    height: 4.625rem;
    display: flex;
    align-items: center;

    .nav-link {
      @extend .parent-nav-link-padding;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      text-transform: uppercase;
      letter-spacing: .2em;

      &:hover {
        color: $primary;
      }
    }
  }
}

@media (max-width: 991px) {
  .nav-item {
    background-color: #00bcd4;
  }

  .download-cv {
    display: none;
  }
}

.site-navbar.bg-light {
  background-color: $white !important;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);

  .nav-link {
    @extend .parent-nav-link-padding;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  .nav-item {
    height: 4.625rem;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $primary !important;

      .nav-link {
        color: #000;
      }
    }
  }
}

.download-cv {
  position: absolute;
  right: 4rem;
}

.navbar-toggler {
  border: 1px solid #00bcd4 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,188,212, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 991px) {
  .nav-item:hover {
    background-color: #00e2ff;
  }
  .nav-link {
    color: #000 !important;
  }
}
