.site-section {
  padding: 2em 0;
}

.section-heading {
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 2.5rem;
    strong {
      font-weight: 800;
    }
  }
}
